.title {
    color: green;
    text-align: center;
}

.mainDiv {
    color: blue;
    text-align: center;
    font-size: 50px;
}
.button {
    text-align: center;
    font-size: 50px;
}
